<h1>Click on an Artist to view Songs</h1>
<%= link_to 'Create a new Artist', new_billboard_artist_path(@billboard) %>
<ul>
  <% @artists.each do |artist| %>
    <li>
    <%= link_to artist.name, [@billboard, artist] %>
    </li>
    <%end %>
    </ul>

   
   